@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* css variable */
:root {
  --primary-color: #b6c6df;
  --secondary-color: #040f2d;
  --tertiary-color: #091642;
  --heading-color: #3e496e;
  --switch-active: #1778fb;
  --switch-unactive: #15244d;
  --btn-secondary: #4a45e9;
  --light-color: #feffff;
}

body {
  color: var(--light-color);
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.hidden {
  display: none;
}

.is--centered {
  text-align: center !important;
}

/* password generator */
.password--generator__wrapper {
  background: var(--primary-color);
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.password--generator {
  background: var(--secondary-color);
  width: 470px;
  height: 530px;
  border-radius: 12px 8px;
  padding: 20px;
}

.password--generator h2 {
  font-size: 1.3em;
}

.password--generator__item {
  margin-top: 17px;
}

.password--generator__item--label {
  color: var(--heading-color);
  font-size: 0.8rem;
  font-weight: 600;
}

.password--generator__item--card {
  width: 100%;
  height: 55px;
  background-color: var(--tertiary-color);
  border-radius: 6px;
  padding: 12px;

  display: flex;
  align-items: stretch;
}

.password--generator__item--card__left {
  display: flex;
  align-items: center;
  width: 80%;
}
.password--generator__item--card__right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* password generator display styles */
.password--generator__item--card__display {
  height: 65px;
}

.password--generator__item--card__display p {
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
}

/* password generator range styles */
.password--generator__item--card__range--input {
  width: 90%;
  cursor: pointer;
}

/* password generator settings styles */
.password--generator__item--card__settings {
  height: 49px;
}

.password--generator__item--card__settings:not(:last-child) {
  margin-bottom: 10px;
}

.password--generator__item--card__settings p {
  font-size: 0.8rem;
}

/* switch styles */
.switch--track {
  background: var(--switch-unactive);
  width: 45px;
  height: 20px;
  border-radius: 20px;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}

.switch--track .switch--thumb {
  background: var(--light-color);
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.switch--track__active {
  background-color: var(--switch-active);
  justify-content: flex-end;
}

/* footer styles*/
footer {
  display: flex;
  margin-top: 23px;
}

footer button:last-child {
  margin-left: 1.2rem;
}

/* button styles*/
.btn {
  width: 100%;
  border-radius: 5px;
  min-height: 40px;
  border: none;
  color: var(--light-color);
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s linear;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  background: var(--switch-unactive);
}

.btn--primary:hover {
  background: rgba(21, 36, 77, 0.6);
}

.btn--secondary {
  background: var(--switch-active);
}

.btn--secondary:hover {
  background: rgba(23, 120, 251, 0.6);
}

/* modal styles */
.modal--overlay {
  background: var(--primary-color);
  width: 100%;
  height: 100vh;
  position: fixed;
}

.modal {
  width: 350px;
  max-height: 360px;
  overflow-y: auto;
  background: var(--secondary-color);
  border-radius: 12px 8px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* more options style */
.more--options__btn {
  height: 65px;
  text-align: left;
}

.more--options__btn:not(:first-child) {
  margin-top: 10px;
}

.more--options__btn:hover {
  background: var(--switch-active);
}

/* new history styles */
.form--label {
  display: block;
  font-size: 0.9rem;
  color: var(--light-color);
}

.form--control {
  display: block;
  width: 100%;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 0.5rem;
}

.form--control:focus {
  outline: none;
}

.form--group:not(:first-child) {
  margin: 0.7rem 0;
}

/* saved history style */
.saved--history__modal h2 {
  margin-bottom: 0.7rem;
}

.saved--password__action--btn {
  background: var(--switch-active);
  border: none;
  color: var(--light-color);
  padding: 0.4rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.3s linear;
}

.saved--password__action--btn:hover {
  background: rgba(23, 120, 251, 0.6);
}

.saved--password__action--btn:not(:last-child) {
  margin-right: 0.4rem;
}

/* small screen */
@media screen and (max-width: 765px) {
  .password--generator__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .password--generator {
    border-radius: 0;
    width: 100%;
    height: 100vh;
    padding-top: 4rem;
  }

  .modal {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding-top: 4rem;
    border-radius: 0;
  }

  .password--generator__item--card__left {
    width: 70%;
  }

  .password--generator__item--card__right {
    width: 30%;
  }
}
